<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda Jobs</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#">Panda Jobs</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <main>
      <h1>Panda Jobs</h1>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti dolor
        sequi dolorem inventore at nam quo voluptas quaerat odio eius!
      </p>

      <section>
        <iframe id="pdf-preview" src="" frameborder="0"></iframe>
      </section>
    </main>

    <script type="module" src="js/app.js"></script>
  </body>
</html>
